<div class="top-row ps-3 navbar navbar-dark" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="" style="letter-spacing: -0.5px;">CampusCompanion</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').checked = false">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="id-card">
                <span class="bi bi-person-badge-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Student ID
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="bi bi-collection-play-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Course List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grade-tool">
                <span class="bi bi-calculator-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Grade Tool
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reg-preview">
                <span class="bi bi-file-earmark-person-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Reg Preview
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="click-pad">
                <span class="bi bi-hand-index-thumb-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Click Pad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registration">
                <span class="bi bi-cpu-fill me-3" aria-hidden="true" style="font-size: 1.15rem;"></span> Course Board
            </NavLink>
        </div>
    </nav>
</div>